/* css style sheet for our web shop */

:root {
  --primary: #79dfc1;
  --secondary: #feb272;
  --dark-primary: #20c997;
  --light-primary: #d2f4ea;
  --dark-secondary: #fd7e14;
  --grey-light: #e9ecef;
  --grey: #dee2e6;
  --grey-dark: #6c757d;
}

/* Styling buttons */

.btn-outline-success {
  color: var(--primary) !important;
  border-color: var(--dark-primary) !important;
}

.btn:hover {
  background-color: var(--light-primary) !important;
}

/* Styling cards */

.card-outline {
  color: var(--primary) !important;
  border-color: var(--dark-primary) !important;
  border: 1px solid;
}

.card-img-top {
  width: 100%; /* Ensures images stretch to full card width */
  height: 250px; /* Set a fixed height */
  margin: 0px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
}

/* Styling paragraphs */

h1,
h2,
h3,
h4,
p {
  font-family: system-ui, Roboto;
  color: var(--grey-dark) !important;
}

.text-success {
  color: var(--dark-primary) !important;
}

h1 {
  color: var(--dark-primary);
}

/* Styling navbar */

.nav-item .nav-link {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  color: var(--grey-dark) !important;
}

.nav-item.active .nav-link {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  color: var(--dark-primary) !important;
}

/*Just used for the only caroussel container for now*/
#carousel1 {
  border-color: var(--dark-primary) !important;
  border-radius: 5px;
}

/* Set a fixed height for all cards inside the carousel */
 #popular-items-caroussel .carousel-item .card {
  height: 500px; 
 } 



/* Hide radio next to filter buttons */

.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.btn-check:checked + .btn {
  background-color: var(--light-primary) !important;
  color: white;
  border-color: var(--light-primary) !important;
}

/* styling for items in basket */
.container-fluid {
  display: flex;
  flex-direction: column;
}
.container-basketItem {
  margin: 5px;
  display: flex;
}
.hatAttributes {
  border-bottom: 1px solid var(--dark-primary) !important;
  margin: 5px;
  flex: 2;
}
.priceAttributes {
  border-bottom: 1px solid var(--dark-primary) !important;
  margin: 5px;
  flex: 1;
}
#basket-container {
  padding: 20px;
}
ul {
  list-style-type: none;
}
h1 {
  text-align: center;
  margin: 20px;
  text-decoration: underline;
  text-decoration-color: var(--dark-primary);
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
}
.h2-margin-bottom {
  margin-bottom: 50px; /* Adjust the value as needed */
}

.row {
  display: flex;
  margin-top: 20px;
  button {
    margin: 5px;
  }
  #item-amount {
    margin-top: auto;
  }
}
#button-div {
  display: flex;
  margin-bottom: 10px;
  #button1 {
    flex: 2;
    margin: 5px;
  }
  #button2 {
    flex: 1;
    margin: 5px;
  }
}
img {
  max-height: 20rem;
  object-fit: contain;
  margin: 8px;
}
